.attendance-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.attendance-content li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0px;
}

@media only screen and (max-width: 500px) {
  .attendance-content li {
    flex-direction: column;
    margin: 0.5rem 0px;
  }
  .attendance-content .btn-list {
    justify-content: end !important;
  }
}

.attendance-content button.present.active {
  background-color: #007e91;
  color: #fff;
}

.attendance-content button.absent.active {
  background-color: #7b0019;
  color: #fff;
}

.attendance-content button.excused.active {
  background-color: #a35c00;
  color: #fff;
}

.attendance-content .btn-list {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.attendance-content button {
  padding: 0rem 0.5rem;
  margin: 0px;
}

@media only print {
  .attendance-content li.inactive {
    display: none;
  }

  .attendance-content button:not(.active) {
    display: none;
  }

  .attendance-content button {
    background-color: transparent !important;
    color: transparent;
    visibility: hidden;
  }
  .attendance-content button::after {
    color: black;
    content: attr(data-print-name);
    visibility: visible;
  }
}